{% extends "partials/shell.html" %}
{% block title %}Team-Rollen · zyrahd.net{% endblock %}
{% block page_title %}Team-Rollen{% endblock %}
{% block content %}
<form method="post" class="panel">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <div class="form-row">
    <label>Support-Rollen</label>
    <div data-discord-select data-type="roles" data-name="support_role_ids" data-multiple="true"
         data-selected='{{ cfg.get_roles("support_role_ids")|tojson }}'></div>
  </div>
  <div class="form-row">
    <label>Moderationsrollen</label>
    <div data-discord-select data-type="roles" data-name="mod_role_ids" data-multiple="true"
         data-selected='{{ cfg.get_roles("mod_role_ids")|tojson }}'></div>
  </div>
  <div class="form-row">
    <label>Teamleitungsrollen</label>
    <div data-discord-select data-type="roles" data-name="lead_role_ids" data-multiple="true"
         data-selected='{{ cfg.get_roles("lead_role_ids")|tojson }}'></div>
  </div>
  <div class="form-row">
    <label>Administratorrollen</label>
    <div data-discord-select data-type="roles" data-name="admin_role_ids" data-multiple="true"
         data-selected='{{ cfg.get_roles("admin_role_ids")|tojson }}'></div>
  </div>
  <button class="btn btn-primary" type="submit">Speichern</button>
</form>
{% endblock %}
